// Base
html{
 	font-size: 80%;
	
	@include breakpoint($breakpoint-sm) {
 		font-size: 80%;
 	}
	@include breakpoint($breakpoint-md) {
 		font-size: 90%;
 	}
 	@include breakpoint($breakpoint-lg) {
 		font-size: 95%;
 	}
}
html,
body{
	height: 100%;
	-webkit-font-smoothing: antialiased;
 	-moz-osx-font-smoothing: grayscale;
}

a{
	text-decoration: none;
	color: map-get($colors, 'cloudy-font');

	&:hover{
		color: white;
		text-decoration: none;
	}
}
hr{
	height: 0;
	border: none;
	border-top: 1px solid map-get($colors, 'cloudy-dark');
}

h2{
	font-size: 2rem;
	margin: 1rem 0;
}
h3{
	font-size: 1.6rem;
	margin: 1rem 0;
}
#page{
	height: 100%;
}


// *[class^="sw-"] {
// 	background-color: red !important;
// }

%sw-body-reset{
	color: map-get($colors, 'cloudy-font');
	font-family: 'Lato', sans-serif;
	line-height: 1.8rem;
}